.board {
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: 100px 100px 100px;
justify-content: center;
gap: 35px;
}
h1{
   display: flex;
   justify-content: center; 
   align-items: center;
   color: rgb(255, 0, 212);
}
.cell{
    border: 3px solid #ff0000;
}
body{
    background-color: blue;
}