img{
    width: 250px;
    height: 250px
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    font-size: 30px;
}
button{
    width: 150px;
    height: 100px
}

.sas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 150px;
}
.NAZ{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 200px;
}
.cen{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 230px;
    margin-top: 40px;
}